/* Header.module.css */
.header {
	background-color: #0000001a;
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
  }
  
  .header h1 {
	margin: 0;
	font-size: 1.5rem;
	padding-left: 30px;
  }
  
  .nav {
	display: flex;
	gap: 15px;
	padding-right: 30px;
  }
  
  .nav a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
  }
  
  .nav a:hover {
	text-decoration: underline;
  }
  
  .button {
	/* 共通のボタンスタイル */
	padding: 10px;
	border: none;
	background-color: #ffffff00;
	color: white;
	cursor: pointer;
	text-align: center;
	margin: 2px;
	font-size: 16px; /* フォントサイズを統一 */
	display: inline-block; /* ボタン全体をクリック可能に */
  }
  
  .link {
	text-decoration: none;
	color: inherit; /* ボタン内の文字色を継承 */
  }
  
  .form button {
	/* form 内のボタンも同じスタイルを適用 */
	padding: 10px;
	border: none;
	background-color: #ffffff00;
	color: white;
	cursor: pointer;
	text-align: center;
	margin: 2px;
	font-size: 16px; /* フォントサイズを統一 */
	display: inline-block; /* ボタン全体をクリック可能に */
  }
  
  .form button:hover {
	text-decoration: underline;
  }