.devContainer {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff; /* 白い背景でコンテンツを明るく */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
	margin: 20px;
}

.h2 {
	color: #fb7ef7;
    width: 100%; /* 必要に応じて調整 */
    max-width: 600px; /* 調整したい幅を指定 */
}

.samplepic {
	width: 50%;
	height: 50%;
	display: block;
	margin: 0 auto;
}

.button {
	background-color: #fb7ef7;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 12px; /* ボタンのパディングを増やす */
	cursor: pointer;
  }
  
.button:hover {
	background-color: #f131d1;
  }

.buttoncontainer {
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 5vh; /* 画面全体の高さに合わせる */
}